.Bin {
    text-align: center;
    height: 100vh;
}

header {
    display: flex;
    width: 100vw
}

.Bin-logo-header {
    background-color: #ab2a19;
    height: 140px;
    padding: 20px;
    color: white;
    width: 9.35%;

}

.Bin-logo {
    background-image: url("../../Pictures/shelfie.svg");
    height: 100px;
    width: 100px;
    background-size: cover;
    margin-left: 30px;
    margin-top: 19px;
}

.Bin-header {
    background-color: #d34735;
    height: 140px;
    padding: 20px;
    color: white;
    width: 18.7%;
}

.Title {
    font-size: 56px;
    font-weight: bolder;
    float: left;
    color: white;
}

.Bin-location {
    height: 140px;
    width: 71.95%;
    background-color: #ED6B5A;
    color: white;
    padding: 20px;
}

.Bin-location-title {
    font-size: 56px;
    font-weight: bolder;
    float: left;
}

.Item-pic {
    height: 400px;
    width: 400px;
    /* background-color: rebeccapurple; */
    margin-left: 80px;
    margin-top: 40px;
    /* display: flex; */
    float: left;
    /* position: relative; */
    /* 54E */
    background-image: url("../../Pictures/Paintball.jpg");
    background-size: cover;
    border-style: solid;
    border-color: #D8D8D8;

}

.Name-plate {
    font-weight: bolder;
    float: left;
    margin-left: 120px;
    display: flex;
    font-size: 36px;
}

.Item-name {
    display: flex;
    float: left;
    border-radius: 10px;
    height: 100px;
    width: 800px;
    margin-top: 120px;
    margin-left: 120px;
    /* margin-right: 300px; */
    background-color: white;
    font-size: 70px;
    font-weight: bolder;

}

Price-plate {
    font-weight: bolder;
    float: left;
    margin-left: 120px;
    display: flex;
    font-size: 36px;
}

.Item-price {
    /* 25F */
    display: flex;
    /* 25D */
    float: left;
    border-radius: 10px;
    height: 100px;
    width: 800px;
    margin-top: 110px;
    margin-left: 120px;
    background-color: white;
    font-size: 70px;
    font-weight: bolder
}

.Edit-button{
    height: 100px;
    width: 300px;
    background-color: #D8D8D8;
    border-radius: 10px;
    display: flex;
    /* 25C */
    position: absolute;
    margin-left: 600px;
    margin-top: 470px;
    cursor: pointer;
    
}

.Save-button {
    height: 100px;
    width: 300px;
    background-color: #40F99B;
    border-radius: 60px;
    display: flex;
    position: absolute;
    margin-left: 600px;
    margin-top: 470px;
    cursor: pointer;
}

.Delete-button {
    height: 100px;
    width: 300px;
    background-color: #D8D8D8;
    border-radius: 10px;
    display: flex;
    position: absolute;
    margin-left: 1105px;
    margin-top: 470px;
    cursor: pointer;
}

.Edit-font {
    font-size: 40px;
    margin-left: 107px;
    cursor: pointer;
}

.Delete-font {
    font-size: 40px;
    margin-left: 88px;
    cursor: pointer;
    color: black;
}
