.App {
  text-align: center;
  height: 100vh;
}

.Logo {
height: 68px;
width: 68px;
/* 27G */
display: flex;
background-image: url("../../Pictures/shelfie.svg");
background-size: cover;
float: left;
padding: 15px;
margin-left: 400px;
margin-top: 17px;
/* 27C */
justify-content: center;
}

.App-header {
  background-color: #ab2a19;
  height: 140px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 56px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  /* 27D */
  align-items: center;
  float: left;
  margin-left: 10px;
}

.App-intro {
  font-size: large;
}

.Shelf-a {
  width: 930px;
  height: 120px;
  background-color: #d34735;
  display: flex;
  margin-left: 20%;
  margin-top: 40px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 56px;
  font-weight: bolder;
  color: white;
  align-items: center;
  float: left;
  padding-left: 220px;

}

.Shelf-b {
  width: 930px;
  height: 120px;
  background-color: #d34735;
  display: flex;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 56px;
  font-weight: bolder;
  color: white;
  align-items: center;
  float: left;
  padding-left: 220px;
}

.Shelf-c {
  width: 930px;
  height: 120px;
  background-color: #d34735;
  display: flex;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 56px;
  font-weight: bolder;
  color: white;
  align-items: center;
  float: left;
  padding-left: 220px;
}

.Shelf-d {
  width: 930px;
  height: 120px;
  background-color: #d34735;
  display: flex;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 56px;
  font-weight: bolder;
  color: white;
  align-items: center;
  float: left;
  padding-left: 220px;
}



/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
